html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    box-sizing: border-box;
}

/*HEADER*/
header {
    width: calc(100% - 200px);
    height: 70px;
    position: fixed;
    top: 0;
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    font-family: "IBM Plex Mono", monospace;
    z-index: 1000;
    background: transparent;
    border-bottom: 1px solid white;
    background: rgb(0, 0, 0);
}

header .right-menu {
    display: flex;
    align-items: center;
}

header .right-menu span {
    margin-left: 20px;
    white-space: nowrap;
    color: white;
}

.sobre, .funcionamento {
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    color: white;
}

.textSobre, .textFuncionamento {
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    color: white;
    text-align: justify;
}

.work{
    margin-top: 40px;
}
